*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
  background-color:#18222C ;
}

.main{
    width: 100%;
    height: 99vh;
    background-color:#18222C ;
    display: flex;
    justify-content: space-between;
}
.left-container{
    width: 25%;
}
.middle-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-container{
    width: 25%;
}


.menu-wrapper{
    display: flex;
    align-items: center;
    padding: 25px;
}
#muni-icon{
    color: #7B6C82;
    font-size: 40px;
}
.menu-wrapper div{
    width: 100%;
    margin-left: 20px;
    height: 40px;
}
.menu-wrapper div input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    outline: none;
    color:white;
    
    border-radius: 5px;
    padding-left: 10px;
    background-color: #3F2A4A;
}
::placeholder { /* Microsoft Edge */
    color: #5A5277;
}

#users{
    height: calc(100vh - 96px);
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;

}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212B34; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #235485; 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #235485; 
  }

.userwrap{
    width: 100%;
    height: 72px;
    padding: 2px;
    display: flex;
    align-items: center;
    transition: .3s;
}
.userwrap:hover{
    background-color: #5A386B;
    cursor: pointer;
}
.userwrap img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
}
.text-div{
    width: 90%;
    height: 60%;
    margin-left: 15px;
}
.qator-bir{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-msg{
    height: 40%;
    width: 100%;
    color: #9B9C9F;
    font-size: 12px;
    margin-top: 4px;
}
.qator-bir h2{
    font-size: 18px;
    color: #C9D1C3;
    font-weight: 400;

}
.qator-bir p{
    font-size: 13px;
    color: #9B9C9F;
}
.notfound{
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292E34;
    overflow-x: hidden;
    transition: 0.1s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.top-div{
    width: 100%;
    padding: 30px;
    background-color: #B2B938;
    padding-bottom: 10px;
}
.qator-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}
.qator-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.qator-1 img{
    width: 65px;
    height: 65px;
    border-radius: 100%;

}
.qator-1 p{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #96A040;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qator-2 p{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qator-1 .iconbook{
    font-size: 24px;
    color: white;
}
.chevrondown{
    font-size: 24px;
}
.profile-text h3{
    padding: 4px;
    font-weight: 500;

}
.profile-text h4{
    padding-left: 4px;
    font-weight: 400;
}
.profile-text-1{
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.profile-text-1 h3{
    color: #77797B;
    padding: 4px;
    font-weight: 500;

}
.profile-text-1 h4{
    color: #77797B;
    padding-left: 4px;
    font-weight: 400;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7B7E83;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left:2px;
    bottom: 2px;
    right: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#B2B938;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(19px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.clik1{
    padding: 30px;
    width: 100%;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}
.clik1 div{
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.all-icons{
    font-size: 28px;
    color: #7B7E83;
}




.tg-header{
  width: 100%;
  background-color: #281E2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px ;
  border-bottom: 1px solid #31233C;
  height: 9%;

}
.profile-info{
  display: flex;
  align-items: center;
  

}
.profile-info div{
  margin-left: 13px;
}
.profile-info h2{
color: rgb(239, 220, 220);
}
.profile-info p{
  color: rgb(239, 220, 220);
  }
.corner-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#corner-ics{
  margin:10px;
  color: white;
  font-size: 28px;
}
#previewImg{
  margin:10px;
  color: white;
  font-size: 30px;
}
#previewImg:hover{
  cursor: pointer;
}
.chat-main-div{
  width: 100%;
  height: 85%;
  background-image: url(./images/bg-pic.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.send-chat-div{
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rasm-och{
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-send-btn{
  width: 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-inp{
  width: 80%;

}
.main-inp input{
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 19px;
}
.rasm-och p{
  transform: rotate(40deg);
}
.main-send-btn button{
  border: none;
  background: none;
  font-size: 27px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

  color: rgb(174, 174, 255);
}
.main-send-btn button:hover{
  background-color: #2b4254;
  cursor: pointer;
}
.chats-clas{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-left: 8px;
  height: 100%;
  justify-content: flex-end;
  padding-right: 8px;
  overflow: scroll;
  overflow-x: hidden;
}
.msg-disf{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3px;

}
.msg-disf p{
  font-size: 18px;
  color: white;
  padding: 7px;
  background-color: #243747;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.del-btn{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #243747;
  color: white;
  font-size: 15px;
  padding: 7px;
  transition: .3s;
}
.del-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(255, 105, 105);
}

.edit-btn{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #243747;
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-bottom: 0px;
  transition: .3s;
  font-size: 15px;
  padding: 7px;
}
.edit-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(156, 217, 0);
}
#checkicon{
  margin-bottom: -6.5px;
  color: orange;
}

.right-nav{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

}
.right-nav h1{
  color: rgb(246, 215, 215);
  font-size: 27px;
}
.forpadding{
  padding: 20px;

}
.Exit{
  color: #543d61;
  font-size: 45px;
  font-weight: 700;
}
.data-infos{
  height: calc(100% - 330px);
  margin-top: 50px;
  padding: 20px;
  border-top: 13.5px solid #33253b;
}
#username{
  color:rgb(246, 215, 215) ;
  font-size: 21px;
}

#sendanimation {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #281E2F;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  width: 600px;
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#defimg:hover{
  cursor: pointer;
  transform: scale(1.05);
}
#corner-ics:hover{
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width:1300px){
  .right-container{
    display: none;
  }
  .middle-container{
    width: 60%;
  }
  .left-container{
    width: 40%;
  }
}
@media (max-width:865px){
  .right-container{
    display: none;
  }
  .middle-container{
    display: none;
  }
  .left-container{
    width: 100%;
  }
}