*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #18222C;
}
.logindiv{
    width: 350px;
    padding: 20px;
}
.text{
    padding: 10px 0px;
}
.text div{
    color: #FBF9F7;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}
.text p{
    color: #4A7D8F;
}
.selectdiv{
    width:100%;
    margin-top: 30px;

}
.selectdiv select{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    color:#FBF9F7 ;
    outline: none;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid #134a5d;
}
.selectdiv option{
    color: #4A7D8F ;
    font-size: 17px;
}
.inputs{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputs{
    margin-top: 25px;
    width: 100%;
}
.bir{
    width: 80px;
    height: 30px;
    border: none;
    border-bottom:1px solid #134a5d ;
    background: rgba(0,0,0,0);
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 17px;
}
.ikki{
    width: 220px;
    height: 30px;
    border: none;
    border-bottom:1px solid #134a5d ;
    background: rgba(0,0,0,0);
    color: white;
    outline: none;
    font-size: 17px;
}
.ikki1{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom:1px solid #134a5d ;
    background: rgba(0,0,0,0);
    color: white;
    outline: none;
    font-size: 17px;
}
.nextbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin-top: 49px;
}

.nextbtn button{
    width: 305px;
    height:48px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #36A0E8;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;

}
.nextbtn button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.qrcodediv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.qrcodediv p{
    text-align: center;
    color: #3e88c0;
}
#codeinp{
    display: none;
}
@media (max-width:500px){
    .main{
        align-items: flex-start;
        padding-top: 120px;
    }
    .nextbtn button{
        width: 285px;
        height:43px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #36A0E8;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        transition: 0.3s;
    
    }
    .text div{
        color: #FBF9F7;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 0px;
    }
    .text p{
        color: #4A7D8F;
        font-size: 15px;
    }
    .logindiv{
        padding: 0px;
        width: 270px;
    }
    .bir{
        width: 50px;
        height: 30px;
        border: none;
        border-bottom:1px solid #134a5d ;
        background: rgba(0,0,0,0);
        color: rgb(255, 255, 255);
        outline: none;
        font-size: 17px;
    }
    .ikki{
        width: 180px;
        height: 30px;
        border: none;
        border-bottom:1px solid #134a5d ;
        background: rgba(0,0,0,0);
        color: white;
        outline: none;
        font-size: 17px;
    }
}