*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.main{
    width: 100%;
    height: 100vh;
    background-color:#18222C ;
}
.imgdiv{
    width: 100%;
    height: 33%;
    background-image: url('./images/start1.png');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgdiv img{
    width: 100%;
    height: 100%;
}
.textdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67%;
    margin-top: -100px;
}
.midle{
    color: white;
}
.midle h1{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding: 10px;
    color: white;
}
.midle p{
    text-align: center;
    color: #B29D9B;
    font-size: 19px;
    padding: 5px;
}
.nextbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
}
.nextbtn button{
    width: 375px;
    height: 65px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #36A0E8;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;

}
.nextbtn button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media (max-width:660px){
    .imgdiv{
        height: 23%;

    }
    .textdiv{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 57%;
        margin-top: -100px;
    }
    .midle h1{
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        padding: 10px;
        color: white;
    }
    .midle p{
        text-align: center;
        color: #B29D9B;
        font-size: 14px;
        padding: 5px;
    }
    .nextbtn button{
        width: 275px;
        height: 55px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #36A0E8;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        transition: 0.3s;
    
    }
}